* {
  box-sizing: border-box;
  line-height: 1.15;
}
body {
  font-size: 1rem;
  line-height: 1.45;
}
/* pvtUi */
table.pvtUi {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-weight: 400;
  vertical-align: top;
  border: 1px solid #6e6b7b;
  color: #6e6b7b;
}
table.pvtUi td {
  padding: 0.75rem;
  overflow-x: auto;
}
table.pvtUi>tbody td:nth-child(1) {
  width: 25%;
}

/* pvtUi selector */
.pvtUi .pvtDropdown {
  user-select: none;
  margin: 0;
  border: 1px solid #d8d6de;
  border-radius: .357rem;
  background-color: inherit;
  background-color: inherit;
  background-position: calc(100% - 12px) 13px, calc(100% - 20px) 13px, 100% 0;
  background-size: 18px 14px, 18px 14px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23d8d6de' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
  appearance: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  height: 2.714rem;
  vertical-align: middle;
  color: #6e6b7b;
  width: 100%;
  padding: 0.438rem 2rem 0.438rem 1rem;
}
.pvtUi .pvtVals :first-child {
  display: flex;
}
.pvtAxisContainer,
.pvtVals,
td.pvtOutput {
  border: 1px solid #ebe9f1;
}

.pvtFilteredAttribute {
  font-style: italic;
}

.pvtFilterTextClear {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.pvtTriangle {
  cursor: pointer;
  font-size: 18px;
  color: #7367f0;
}

.pvtOnly {
  display: block;
  width: 35px;
  float: right;
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
}

.pvtOnlySpacer {
  display: block;
  width: 35px;
  float: right;
}

/* pvtTable */
table.pvtTable {
  background-color: transparent;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: .857rem;
}
table.pvtTable thead tr th {
  vertical-align: top;
  text-transform: uppercase;
  font-size: 0.857rem;
  letter-spacing: 0.5px;
  background-color: #f3f2f7;
}
table.pvtTable thead tr th,
table.pvtTable tbody tr th,
table.pvtTable tbody tr td {
  border: 1px solid #ebe9f1;
  padding: .3rem .5rem;
}

table.pvtTable tbody tr td {
  vertical-align: top;
  text-align: right;
}
table.pvtTable .pvtColLabel {
  text-align: center;
}
table.pvtTable .pvtTotalLabel {
  text-align: right;
}
.pvtTotal,
.pvtGrandTotal {
  font-weight: bold;
}
.pvtRowOrder,
.pvtColOrder {
  cursor: pointer;
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  user-select: none;
  text-decoration: none !important;
}
.pvtAxisContainer,
.pvtVals {
  padding: 5px;
  min-width: 20px;
  min-height: 20px;
}
.pvtVals {
  white-space: nowrap;
  vertical-align: top;
}
.pvtVals div {
  padding-bottom: 5px;
}
.pvtVals.pvtText {
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  user-select: none;
  text-align: start;
}
.pvtRenderers {
  border: 1px solid #ebe9f1;
  user-select: none;
}

/* pvtAxisContainer */
.pvtAxisContainer li {
  margin-bottom: 6px;
  padding: 8px 3px;
  list-style-type: none;
  cursor: move;
}
.pvtAxisContainer li.pvtPlaceholder {
  border-radius: 5px;
  border: 1px dashed #a2b1c6;
}
.pvtAxisContainer li.pvtPlaceholder span.pvtAttr {
  display: none;
}
.pvtAxisContainer li span.pvtAttr {
  box-shadow: none;
  font-weight: 500;
  padding: 0.786rem 1.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px dashed #7367f0;
  border-radius: 0.25rem;
  color: #7367f0;
}
.pvtAxisContainer li span.pvtAttr.disabled {
  cursor: not-allowed;
}
.pvtHorizList li {
  display: inline-block;
}
.pvtVertList {
  vertical-align: top;
}

/* pvtFilterBox */
.sortable-chosen .pvtFilterBox {
  display: none;
}
.pvtFilterBox input {
  border: 1px solid #ebe9f1;
  border-radius: 5px;
  color: #506784;
  padding: 0 3px;
  font-size: 14px;
}
.pvtFilterBox input:focus {
  border-color: #7367f0;
  outline: none;
}
.pvtFilterBox {
  background-color: #f8f8f8;
  z-index: 100;
  color: #6e6b7b;
  border: 1px solid #ebe9f1;
  max-width: 600px;
  min-width: 210px;
  position: absolute;
  padding: 6px;
  user-select: none;
  min-height: 100px;
}
.pvtFilterBox .pvtButton {
  display: inline-block;
  user-select: none;
  padding: 0.8rem 2rem;
  padding-right: calc(2rem / 1.75);
  padding-left: calc(2rem / 1.75);
  border-radius: 0.358rem;
  text-decoration: none;
  border: 1px solid #ebe9f1;
}
.pvtFilterBox input[type='text'] {
  outline: none;
  display: block;
  width: 100%;
  border-radius: .375rem;
  border-color: #ebe9f1;
  margin-bottom: 5px;
  padding: .438rem 1rem
}

/* pvtSearchContainer */
.pvtSearchContainer a:nth-child(3) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pvtSearchContainer a:nth-child(4) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

/* pvtCheckContainer */
.pvtCheckContainer {
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: scroll;
  width: 100%;
  max-height: 30vh;
}
.pvtCheckContainer p {
  margin: 0 0 1px 0;
  padding: 3px;
  cursor: default;
}

.pvtCheckContainer p input[type="checkbox"] {
  margin-right: 0.5rem;
}

.pvtCheckContainer p.selected {
  min-width: 100%;
  width: max-content;
}

.pvtCheckContainer p:hover.pvtOnly {
  display: block;
}

.pvtCheckContainer p:hover.pvtOnlySpacer {
  display: none;
}

