
* {
    box-sizing: border-box
}

.pvtUi {
    table-layout: fixed;
    width: 100%;
    color: #000000;
    font-family: Verdana;
    border-collapse: collapse;
}
.pvtUi select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtUi td {
    overflow-x: auto;
}
.pvtUi td.pvtOutput {
    padding: 6px;
    vertical-align: top;
    border: 1px solid #DBDBDB;
    overflow-x: auto;
}

table.pvtTable {
    font-size: 8pt;
    text-align: left;
    border-collapse: collapse;
    font-family: Verdana;
}

table.pvtTable thead tr th,
table.pvtTable tbody tr th {
    background-color: #dbdbdb;
    border: 1px solid #909399;
    font-size: 8pt;
    padding: 5px;
}

table.pvtTable .pvtColLabel {
    text-align: center;
}
table.pvtTable .pvtTotalLabel {
    text-align: right;
}

table.pvtTable tbody tr td {
    color: #000000;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #909399;
    vertical-align: top;
    text-align: right;
}

.pvtTotal,
.pvtGrandTotal {
    font-weight: bold;
}

.pvtRowOrder,
.pvtColOrder {
    cursor: pointer;
    width: 15px;
    margin-left: 5px;
    display: inline-block;
    user-select: none;
    text-decoration: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtAxisContainer,
.pvtVals {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;
}

.pvtVals.pvtText {
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    user-select: none;
    padding-left: 16px;
    text-align: start;
}

.pvtRenderers {
    border: 1px solid #DBDBDB;
    user-select: none;
}

.pvtDropdown {
    border: 1px solid #DBDBDB;
    align-items: center;
    display: block;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    padding: 0px 0px 0px 3px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    line-height: 1 !important;
    margin: 3px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtRenderers .pvtDropdown {
    padding: 0px 0px 0px 12px;
    border: none;
    width: 100%;
    margin: 0px;
}

.pvtDropdown:last-child {
    margin-bottom: 0px;
}

.pvtVals {
    display: flex;
    gap: 5px;
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 12px;
}

.pvtRows {
    height: auto;
}

.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor: move;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #DBDBDB;
}
.pvtAxisContainer li.pvtPlaceholder span.pvtAttr {
    display: none;
}

.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    background: #F4F4F5;
    border: 2px dashed #909399;
    padding: 4px 7px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.pvtAxisContainer li span.pvtAttr.sortonly {
    border: 1px solid #909399;
}
.pvtAxisContainer li span.pvtAttr.disabled {
    border: 1px solid #909399;
    color: #c5c5c5;
    cursor: not-allowed;
}
.pvtTriangle {
    cursor: pointer;
    color: #000;
}

.pvtVertList {
    /* max-width: 295px; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 295px;
}

.pvtVertDraggable {
    height: 90%;
    width: 100%;
}

.pvtHorizontalDraggable {
    height: 100%;
    width: 100%;
    min-height: 45px;
}

.pvtAxisContainerWrapper.pvtVertList {
    flex: 0 0 auto;
}

.pvtAxisContainerWrapper.pvtAvailableFields {
    order: 0
}

.pvtFilteredAttribute {
    font-style: italic;
}

.sortable-chosen .pvtFilterBox {
    display: none !important;
}

.pvtFilterTextClear {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none !important;
}

/* .pvtDragHandle {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px;
    cursor: move;
    color: #DBDBDB;
} */

.pvtButton {
    display: inline-block;
    color: #000;
    border-radius: 5px;
    padding: 3px 6px;
    background: #fff;
    border: 1px solid;
    border-color: #909399;
    font-size: 14px;
    margin: 3px 3px 6px 0px;
    transition: 0.34s all cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none !important;
}

.pvtButton:hover {
    background: #E6E6E6;
    border-color: #DBDBDB;
}

.pvtButton:active {
    background: #E6E6E6;
}

.pvtFilterBox input {
    border: 1px solid #909399;
    border-radius: 5px;
    color: #000;
    padding: 0 3px;
    font-size: 14px;
}

.pvtFilterBox input:focus {
    border-color: #909399;
    outline: none;
}

.pvtFilterBox {
    z-index: 100;
    border: 1px solid #000;
    max-width: 600px;
    min-width: 210px;
    background-color: #fff;
    position: absolute;
    padding: 6px;
    user-select: none;
    min-height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtFilterBox input[type='text'] {
    display: block;
    width: 100%;
    color: #000000;
    margin-bottom: 5px;
    padding: 6px;
    /* border-radius: 4px; */
}

.pvtFilterBox {
    padding: 3px;
}

.pvtCheckContainer {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 30vh;
    border-top: 1px solid #dfe8f3;
}

.pvtCheckContainer p {
    margin: 0;
    margin-bottom: 1px;
    padding: 3px;
    cursor: default;
}

.pvtCheckContainer p.selected {
    background: #F4F4F5;
    min-width: 100%;
    width: max-content;
}

.pvtOnly {
    display: none;
    width: 35px;
    float: right;
    font-size: 12px;
    padding-left: 5px;
    cursor: pointer;
}

.pvtOnlySpacer {
    display: block;
    width: 35px;
    float: right;
}

.pvtCheckContainer p:hover .pvtOnly {
    display: block;
}
.pvtCheckContainer p:hover .pvtOnlySpacer {
    display: none;
}

.pvtRendererArea {
    padding: 5px;
}

.pvtUIContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.pvtUIRowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pvtUIRowTopContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.pvtUIRowBottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.pvtAxisContainerWrapper {
    flex: 1 1 auto;
    border: 1px solid #DBDBDB;
    background: #fff;
    padding: 5px;
    margin: 5px;
    /* min-width: 20px; */
    min-height: 84px;
}

.pvtValuesWrapper {
    flex: 1 1 auto;
    border: 1px solid #DBDBDB;
    background: #fff;
    padding: 5px;
    margin: 5px;
    min-width: 20px;
    min-height: 20px;
}

.pvtRenderContainer {
    display: flex;
    padding: 5px;
    margin: 5px;
    min-width: 20px;
    min-height: 20px;
}

.pvtValAttribute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.pvtValAttribute.pvtValAttributeInactive{
    opacity: 0.5;
}

.pvtValAttribute span {
    padding: 10px;
}

.pvtValAttribute div {
    padding: 10px;
}

.pvtTableContainer {
    order: 99;
    flex: 4 1 auto;
    overflow: auto;
    margin: 5px;
}

.pvtValAttribute {
    cursor: move;
    max-width: 300px;
    -webkit-text-size-adjust: 100%;
    background: #F4F4F5;
    border: 2px dashed #909399;
    padding: 4px 7px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}


@media only screen and (max-width: 1280px) {
    .pvtUIRowBottomContainer {
        flex-wrap: wrap;
    }

    .pvtAxisContainerWrapper.pvtVertList {
        flex: 1 0 auto;
    }

  }

  @media only screen and (max-width: 640px) {
    .pvtAxisContainerWrapper.pvtAvailableFields {
        order: 1
    }

  }